body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.color{
    color: orange;
}
h1{
    font-size: 50px;
}
.button{
    background-image: linear-gradient(orange,red);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 20px;
    color: wheat;
    font-weight: 400;
}
.flexiable-container{
    display: flex;
    margin-bottom: 200px;
}
.width{
    width: 50%;
    padding-left:5% ;
    padding-right: 5%;
    
}
p{
    padding-bottom: 30px;
}
.width img{
    width: 80%;
}
.about{
    background-image: url(7.png);
}
